#UnrealSoftware@inbox.ru
#Comments
#* * * * * command parametrs(optional)
#- - - - -
#| | | | |
#| | | | ----- day of week (ом=1..бя=7)
#| | | ------- month (1 - 12)
#| | --------- day (1 - 31)
#| ----------- hour (0 - 23)
#------------- minute (0 - 59)}

variable1=BillingDir
Variable2=$variable1\bin

0 0-10 * * * $Variable2\DayLoader.exe
30 4 * * * $variable1\DB\BackupBase.exe
